Code/
GIMP/
google-chrome/
dconf/
evolution/
font-manager/
fontconfig/
github-copilot/
gnome-session/
go/
goa-1.0/
gtk-3.0/
gtk-4.0/
ibus/
inkscape/
libreoffice/
nautilus/
obs-studio/
pulse/
systemd/
vlc/
yay/
kritadisplayrc
kritarc
LICENSE
mimeapps.list
pavucontrol.ini
QtProject.conf
user-dirs.dirs
user-dirs.locale
.gsd-keyboard.settings-ported
