Code/
GIMP/
google-chrome/
dconf/
evolution/
github-copilot/
gnome-session/
go/
goa-1.0/
gtk-3.0/
gtk-4.0/
ibus/
inkscape/
libreoffice/
nautilus/
obs-studio/
pulse/
systemd/
vlc/
yay/
QtProject.conf
kritadisplayrc
kritarc
user-dirs.dirs
user-dirs.locale
.gsd-keyboard.settings-ported
mimeapps.list
